<form #f="ngForm" (ngSubmit)="resetPassword(f)">
  <div class="field">
    <mat-form-field>
      <input matInput placeholder="Password" ngModel type="password" name="password" required>
    </mat-form-field>
  </div>
  <div class="field">
    <mat-form-field>
      <input matInput placeholder="Password Confirmation" ngModel type="password" name="password_confirmation" required>
    </mat-form-field>
  </div>
  <div class="field">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <button mat-raised-button type="submit" [disabled]="!f.valid">Güncelle</button>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <button mat-raised-button type="button" color="warn" (click)="closeDialog()">İptal</button>
        </div>
      </div>
    </div>
  </div>
</form>